<% if quests %>

  <% quests.each do |quest| %>

    <div class="card">
      <div class="card-header"><%= link_to quest.name, edit_quest_path(quest) %><span class="float-sm-right">Level Requirement: <%= quest.level_requirement %></span></div>

        <div class="card-body">
          <p class="card-text"><%= quest.description %></p>
        </div>

        <div class="card-body">
          <p class="card-text"><%= calculate_points_for_quest(quest) %> Exp for:</p>
          <%= render 'shared/affiliated_skills', object: quest %>
        </div>
                
        <div class="card-footer text-muted">
          <%= quest_footer_for_quest(quest) %>
        </div>
          
      </div><br>

  <% end %>
  
<% else %>

  <h3>None at the moment. Be the first to add one.</h3>
  
<% end %>