<%= form_with model: @quest, local: true do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Give your quest a name", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: "Give your quest a description", class: "form-control" %>
  </div>

  <p><%= render 'shared/select_drop_down', f: f, object: :difficulty_level, range: (1..10) %></p>

  <p><%= render 'shared/select_drop_down', f: f, object: :level_requirement, range: (10..50) %></p>

  <p>Pick the skills that are associated with this quest:</p>

  <%= render 'shared/collection_checkboxes', object: Skill.all, f: f %>

  <%= f.submit class: "btn btn-secondary" %>

<% end %>