<%= form_with model: quest, local: true do |f| %>


  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Give your quest a name", class: "form-control" %>
  </div>


  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: "Give your quest a description", class: "form-control" %>
  </div>


  <%= f.label :difficulty_level %>
  <p><%= f.select :difficulty_level, (1..10) %></p>


  <%= f.label :level_requirement %>
  <p><%= f.select :level_requirement, (1..50) %></p>


  <p>Pick the skills that are associated with this quest:</p>

  <%= render 'shared/collection_checkboxes', object: Skill.all, f: f %>


  <%= f.submit class: "btn btn-secondary" %>


<% end %>