<% if tasks.any? %>
  <% tasks.each do |task| %>
    <div class="card">
      <div class="card-header"><%= link_to task.name, user_task_path(task.user, task) %><span class="float-sm-right"><%= show_task_user(task) %></span></div>

        <div class="card-body">
          <p class="card-text"><%= task.description %></p>
        </div>

        <div class="card-body">
          <p class="card-text"><%= calculate_points(task) %> exp gained for:</p>
          <%= render 'affiliated_skills', task: task %>
        </div>
                
        <div class="card-footer text-muted">
          <span class="float-sm-left"><%= show_completed_if_completed(task) %></span>
          <span class="float-sm-right"><%= show_task_time_info(task) %></span>
        </div>
        
      </div><br>
  <% end %>
  
<% else %>
  <h3>None at the moment. Be the first to add one.</h3>
<% end %>