  <% tasks.reverse.each do |task| %>
    <div class="container">
      <p>name: <%= task.name %></p>
      <p>desc: <%= task.description %></p>
      <p>dif lvl: <%= task.difficulty_level %></p>
      <p>pri lvl: <%= task.priority_level %></p>
      <p>completed? <%= task.completed %></p>
        
      <p><%= show_task_user(task) %></p>
      <%= show_edit_button_for_task(task) %>
    
    </div>
  <% end %>