<% if tasks.incomplete.any? %>
  <% tasks.incomplete.each do |task| %>
    <div class="card">
      <div class="card-header"><%= link_to task.name, user_task_path(task.user, task) %> <%= show_edit_button_for_task(task) %></div>

      <div class="card-body">
        <p class="card-text"><%= task.description %></p>
      </div>

      <div class="card-body">
        <p class="card-text"><%= calculate_points(task) %> exp gain for:</p>
        <%= render 'affiliated_skills', task: task %>
      </div>

      <div class="card-footer text-muted">
        <%= render 'completed_button', task: task%>
        <%= show_task_user(task) %>
      </div>
    </div>
  <% end %>

<% else %>
  <h3 class="card-body">None at the moment.</h3>
<% end %>