<h3>Tasks</h3>

  <% @tasks.each do |task| %>
    <div class="container">
      <p>name: <%= task.name %></p>
      <p>desc: <%= task.description %></p>
      <p>dif lvl: <%= task.difficulty_level %></p>
      <p>pri lvl: <%= task.priority_level %></p>
      <p>completed? <%= task.completed %></p>
      <p>user: <%= link_to task.user.username, user_path(task.user) %></p>
    </div>
  <% end %>
