<h3>New Task</h3>

<%= form_with model: @task, local: true do |f| %>
  <%= f.label :name %>
  <p><%= f.text_field :name, placeholder: "Run hills with dog" %></p>

  <%= f.label :description %>
  <p><%= f.text_area :description, placeholder: "High intensity interval sprints with my doge." %></p>

  <%= f.submit %>

<% end %>