<h3>The current task for the current user</h3>

<p><%= @task.name %></p>
<p><%= @task.description %></p>
<p><%= @task.priority_level %> | <%= @task.difficulty_level %></p>
<p>Points for completing: <%= calculate_points(@task) %></p>
  <p>The skills associated with this task:</p>
<ul>  
  <% @task.skills.each do |skill| %>
    <li><%= skill.name %></li>

    <% #binding.pry %>
  <% end %>
</ul>

<%= render 'completed_button', task: @task %>
