<h3>The current task for the current user</h3>

<p><%= @task.name %></p>
<p><%= @task.description %></p>
<p><%= @task.priority_level %></p>
<p><%= @task.difficulty_level %></p>
<%= form_with model: @task, local: true do |f| %>
  <%= f.check_box :completed %>
<% end %>