<fieldset>
  <legend><h3>Current Task</h3></legend>
  <p><%= @task.name %></p>
  Pri lvl: <%= @task.priority_level %> | diff lvl: <%= @task.difficulty_level %>

  <p>Points for completing: <%= calculate_points(@task) %></p>
  <p><%= @task.description %></p>

  <p>The skills associated with this task:</p>
  <ul>  
    <% @task.skills.each do |skill| %>
      <li><%= skill.name %></li>
    
    <% end %>
  </ul>

  <%= render 'completed_button', task: @task %>
  <%= show_edit_button_for_task(@task) %>
</fieldset>