<h3>Your progress</h3>

<p>Total Completed Tasks: <%= @user.tasks.finished.count %></p>
<p>Tasks Completed Today: <%= @user.tasks.completed_today.count %></p>

<p>Top Skill: <%= UserSkill.top_skill_by_user(@user).first.skill.name %></p>

     

<table>

  

  <tr>
    <th>Skills:</th>

    <% @user.user_skills.each do |user_skill| %>

      <th><%= link_to user_skill.skill.name, user_skill_path(@user, user_skill.skill) %></th>

    <% end %>
  </tr>
  
  <tr>
    <td class = "skill_name">Level:</td>

    <% @user.user_skills.each do |user_skill| %>

      <td><%= user_skill.level  %></td>
        
    <% end %>
  </tr>

  <tr>
    <td class = "skill_name">Exp:</td>

    <% @user.user_skills.each do |user_skill| %>

      <td><%= user_skill.experience_pts  %></td>
        
    <% end %>
  </tr>



 
</table>


 

