<%= link_to 'Home', dashboard_path, class: "navbutton" %>

<div class="dropdown">
  <%= link_to 'Tasks', user_tasks_path(current_user), class: "navbutton" %>
    <div class="dropdown-content">
      <%= link_to 'Your Tasks', user_tasks_path(current_user) %>
      <%= link_to 'New Task', new_user_task_path(current_user) %>
      <%= link_to 'All Tasks', tasks_path %>
    </div>
</div>

<div class="dropdown">
  <%= link_to 'Highscores', highscores_path, class: "navbutton" %>
    <div class="dropdown-content">
      <%= link_to 'All Highscores', highscores_path %>
      <%= link_to 'New Task', new_user_task_path(current_user) %>
      
    </div>
</div>

<div class="dropdown">
  <%= link_to 'Profile', user_path(current_user), class: "navbutton" %>
    <div class="dropdown-content">

      <%= link_to current_user.username.titlecase + "'s Profile", user_path(current_user) %>
      <%= link_to 'Edit Profile', edit_user_path(current_user) %>
      <%= link_to 'Skills', user_skills_path(current_user) %>
      <a href="#">Link 4</a>

    </div>
</div>



<%= link_to 'Logout', '/logout', method: :delete, class: "navbutton" %>