<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
    <h1>Welcome to Froopyland (temp name)</h1>
    <%= navbar %>
  </header>

      <% flash.each do |k,v| %>
        <br><div class=<%= k %>><%= v %></div>
      <% end %>

    <%= yield %>
  </body>
</html>
